body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica,sans-serif;
  font-size: 16px;
}

body li {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    left: 80%;
  }
}

.mobilemenu {
  display: block;
  position: relative;
  text-align: center;
  z-index: 1;
}

.box-menu {
  background: grey;
  min-height: 50px;
}

.box-menu .menu {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .box-menu .menu {
    position: relative;
    display: none;
  }
}

.box-menu ul {
  padding: 0;
}

.box-menu ul li {
  display: inline-block;
}

.box-menu ul li a {
  display: block;
  width: 150px;
  line-height: 50px;
  color: white;
}

.box-menu ul li a:hover {
  text-decoration: none;
  background: #4d4d4d;
}

@media screen and (max-width: 768px) {
  .box-menu {
    display: block;
  }
  .box-menu ul li {
    width: 100%;
  }
  .box-menu ul li a {
    width: 100%;
  }
}

.box-menu .submenu {
  position: relative;
  z-index: 1;
}

.box-menu .submenu:hover > ul {
  display: block;
}

.box-menu .submenu ul {
  position: absolute;
  top: 50px;
  left: 0px;
  display: none;
}

@media screen and (max-width: 768px) {
  .box-menu .submenu ul {
    position: relative;
    top: 0;
  }
}

.box-menu .submenu ul li {
  display: block;
}

.box-menu .submenu ul li a {
  width: 300px;
  text-align: left;
  padding: 10px;
  line-height: 20px;
  color: #000;
  background: orange;
}

.box-menu .submenu ul li a:hover {
  color: #fff;
  background: blue;
}

@media screen and (max-width: 768px) {
  .box-menu .submenu ul li a {
    width: 100%;
  }
}
