@import 'vars'
// файл для общих стилей
// шрифт
@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,latin)
@import url(https://fonts.googleapis.com/css?family=Open+Sans)
// миксины
=lineShw
    -webkit-box-shadow: 0px 5px 5px 0px rgba(128,128,128,0.95)
    -moz-box-shadow: 0px 5px 5px 0px rgba(128,128,128,0.95)
    box-shadow: 0px 5px 5px 0px rgba(128,128,128,0.95)

=clr
    &:after
        content: ' '
        display: table
        clear: both
    *zoom: 1

// типографика
*
    font-family: 'PT Sans', sans-serif
    font-size: $base
    line-height: $baselh
    color: $colorT
    font-weight: 400
h2
    color: $colorH2
    text-transform: uppercase
    text-align: center
    font-size: $headers
    display: block
    border-bottom: 1px solid $grey
    padding-bottom: 10px
    margin-top: 2%
h3
    color: $colorH3
    font-size: $base
    line-height: 16px
    min-height: 35px
h4
    color: #1d1d1b
    font-size: 26px
    font-weight: 700
    line-height: 30px
    margin: 1% 0

// .container
//     margin-bottom: 1.5%

p.seo
    color: $colorT
p,span
    color: #000
p.tovar
    margin: 7px 0
p,img,h1,h2,h3,h4,h5,h6,a,div
    outline: none
    &:focus
        outline: none
// типографика
// общие стили
*
    box-sizing: border-box
html
    // position: relative
    // min-height: 100%
body
    // margin-bottom: 160px
a
    color:$black
    &:hover
        text-decoration: none
        color:$black
ul
    text-decoration: none
    list-style: none
img
    background-size: cover
    width: 100%
    height: auto
.box
    margin: 2% 0
// .container
//     min-width: 320px
