@import "vars"

span > img
    width: 100%
    height: auto

@media screen and (min-width: 769px)
    .xs-none
        display: block
    .sm-none
        display: !important
    .md-none
        display: none
@media screen and (max-width: 768px)
    .xs-none
        display: none
    .sm-none
        display: none
    .md-none
        display: block

    .logo
        padding-left: 25px
        padding-right: 10px
        a
            img
                @media screen and (max-width: 500px)
                    width: 50%
                    height: auto
                    margin-top: 3%

    .menu-btn
        width: 31px
        height: 20px
        float: right
        background: url(../img/menu.svg) no-repeat 0 0
        margin: 14px 5.5% 0 0
    .mob-search
        display: none
    .mob-form
        display: block
        padding: 0 20px
        input
            background: #aaa
            color: black
            border: none
            outline: none
    .pushy
        ul
            padding-left: 5px
        a
            padding: 15px 25px
        p
            color: #fff
            padding: 15px 25px
        p.bold
            font-weight: 700
    .logo
        .top-mnu
            display: none
        .callback
            display: block
        span
            display: inline-block
            float: right
    .work
        .item-work
            margin-top: 20px
        .info-work
            width: 60%
            line-height: 1.25em
            font-size: 1.25em
            padding: 5%
            @media screen and (max-width: 500px)
                line-height: 1em
                font-size: 1em
            @media screen and (max-width: 500px)
                line-height: 1.3em
                font-size: 0.8em
                width: 62%
        h2
            margin-bottom: 0
    .news-item
        max-height: 160px
        min-width: 115px
    .slick-prew
        left: 2%
        @media screen and (max-width: 350px)
            margin-bottom: 10px
        .slick-next
            right: 3%
        .slick-prew
            left: 3%
        img
            max-width: 100px
            width: 100%
            height: auto
            background-size: cover
        div>img
            @media screen and (max-width: 350px)
                display: none
        h3
            margin: 3%
            max-height: 64px
            overflow: hidden
            @media screen and (max-width: 350px)
                width: 80%
                margin-left: 20%
    footer
        min-height: 108px
        .row
            width: 100%
        img
            padding-top: 33px
            padding-bottom: 33px
        .container
            width: 100%
        a
            width: 34px
            height: 21px
            background: url(../img/up.svg) no-repeat 0 0
            float: right
            margin-top: 24px
            margin-right: 5%
.mobile-content
    p
        margin-left: 10px
        margin-right: 10px
@media screen and (max-width: 640px)
    .slider
        .slick-arrow
            visibility: hidden
    main
        .tab-none
            display: none
        .tab-view
            display: block

@media screen and (max-width: 400px)
    .news > div img
        width: 35%
    .news h3
        max-height: 63px
        overflow: hidden
