@import 'vars'
@import 'normalize'
@import 'responsive_grid'
@import 'common'
@import 'style_menu'
@import 'vars_menu'
@import 'libs/contact-form/style'

// шапка сайта
.logo
    padding: 27px 10px
    @media screen and ( max-width: mobile)
        padding: 10px
        background: green
    @media screen and ( max-width: $tab )
        background: red
    a
        img
            float: left
            @media screen and ( max-width: $tab )
                margin-left: 5%
    span
        float: left
        display: inline-block
        margin: 0.5% 2%
        text-transform: uppercase
        @media screen and ( max-width: $nout)
            width: 10%
            margin-left: 0%
        a
            display: inline-block
            width: 30%
            margin: 25% 0
.search-form
    margin-left: 50%
    margin-top: 13px
    float: left
    text-transform: uppercase
    position: relative
    width: 15%
    @media screen and ( max-width: $nout)
        width: 20%
        margin-left: 35%
    @media screen and ( max-width: $tab )
        width: 25%
        margin-left: 12%
    a
            display: inline-block
            position: absolute
            top: 0px
            left: 112px
            width: 23px
            height: 23px
            border: none
            background: url(../img/search.png) no-repeat 0% 0%
            @media screen and ( max-width: $nout)
                margin: 2% 2%
            @media screen and ( max-width: $tab )
                margin: 2% 18%
    input[type=submit]
        display: inline-block
        position: absolute
        top: 0px
        left: 112px
        width: 23px
        height: 23px
        border: none
        background: url(../img/search.png) no-repeat 0% 0%
    input[type=search]
        width: 70%
        border: none
        margin-right: 3%
        padding: 5px

// шапка сайта

// меню сайта
// импортировано с style_menu.sass

// меню сайта
// слайдер сайта
.slider
    margin-top: 0px
    img
        backgroud-size: cover
        display: block
        width: 100%
        height: auto
        padding: 0
// слайдер сайта

// галерея работ
.item-work
    @media(max-width: 767px)
        margin: 1.5% 0px
.work
    a
        display: block
        &:hover img
            filter: brightness(125%)
    img
        display: block
        background-size: cover
        width: 100%
        height: auto
        position: relative
        filter: brightness(95%)
    .info-work
        position: absolute
        top: 65%
        left: 7%
        color: $white
        width: 65%
        font-size: $headers
        font-weight: 400
        @media(max-width: $nout)
            font-size: $base
            line-height: $base
        @media(max-width: 767px)
            top: 65%
            font-size: 18px
            line-height: 14px
            width: 50%
        @media(max-width: 420px)
            top: 60%
            width: 55%
            font-size: 12px
        @media(max-width: 320px)
            font-size: 10px
    span
        margin-top: 28px
        display: inline-block
        width: 100%
        text-align: center
        color: $blue
        font-size: $headers
        font-weight: bold
        font-family: Open Sans, sans-serif
        letter-spacing: 0.5px
        line-height: 22px
        @media(max-width: $mobile)
            margin-top: 0px
            font-size: $base
    button
        @extend span
        padding: 6px 0px
        margin: 15px 0px 35px 0px
        text-transform: uppercase
        color: $white
        background: $blue
        border: none
        border-bottom: 5px solid $grey
        &:hover
            background: lighten($blue, 5%)
    .callback
        div
            max-height: 400px
    // нужна будет адаптация под разные экраны


// новости и статьи
.news
    h2
        margin: 0
    h3
        font-weight: 600
        @media(max-width: $nout)
            font-size: 18px
        @media(max-width: $mobile)
            margin-top: 15%
    img
        float: left
        display: block
        padding: 10px
        @media(max-width: $mobile)
            background-size: cover
            width: 50%
            height: auto
    .info
        min-height: 100px
        max-height: 100px
        overflow-y: hidden
        @media(max-width: $nout)
            font-size: 16px
            width: 60%
            text-align: justify
        @media(max-width: $mobile)
            width: 100%
    a
        color: $grey
        text-decoration: underline
        &:hover
            color: black
    hr
        margin: 10px 0px 30px 0px
        &:after
            content: ""
            display: block
            border-top: 1px solid $grey
    .bigitem
        width: 100%
        height: auto
// новости и статьи
// клиенты и партнеры
.clients
    position: relative
    h2
        margin-top: 30px
    .logo-partners
        margin-top: 25px
    img
        display: block
        margin: 20px auto
        background-size: cover
        width: 100%
        height: auto
        @media(max-width: $nout)
            margin-top: 50px
        @media(max-width: $mobile)
            margin-bottom: 15%

    p
        text-align: justify
        font-size: 15px
        margin: 40px 0px 50px 0px

    .next-left
        display: block
        width: 45px
        height: 100px
        background: url(../img/next-left.png) no-repeat 0px 0px
        position: absolute
        @media(max-width: $nout)
            top: -20px
    .next-right
        @extend .next-left
        background: url(../img/next-right.png) no-repeat 0px 0px
        left: 95%
        top: -5%
        @media(max-width: $nout)
            top: -25px
        @media(max-width: $mobile)
            left: 86%
            top: -1.4em
// клиенты и партнеры
//
.logo-partners > img
    background-size: cover
    width: 100%
    height: auto

// клиенты и партнеры

footer
    position: absolute
    width: 100%
    bottom: 0
    min-height: 200px
    text-align: center
    margin-top: 10px
    border-top: 5px solid $grey
    background: $blue
    @media(max-width: $mobile)
        min-height: 350px
    *
        color: $white
        display: inline-block
        img
            margin-top: 10px
            padding-top: 20px
            float: left
            @media(max-width: $mobile)
                width: 50%
                margin: 0 auto
                float: none
        p
            @extend img
            text-align: center
            width: 20%
            &:nth-child(2)
                margin-left: 18%
                width: 30%
                text-align: left
            &:last-child
                text-align: right
                float: right
                width: 15%
            @media(max-width: $nout)
                &:nth-child(2)
                    margin-left: 5%
                    width: 35%
                    text-align: left
                &:last-child
                    width: 20%
                    padding-top: 20px
            @media(max-width: $mobile)
                &:first-child
                    width: 50%
                &:nth-child(2)
                    margin-left: 0%
                    width: 80%
                    font-size: $headers
                    text-align: center
                &:nth-child(3)
                    width: 50%
                    float: left
                    font-size: $base
                    padding-top: 20px
                &:last-child
                    @extend :nth-child(3)
.footer
    text-align: left
    & p:first-child
        width: 30%
        text-align: left
    & p:nth-child(2)
        margin-left: 5%
        width: 30%
    & p:last-child
        float: right
        width: 20%
        padding-top: 4%
    @media(max-width: $nout)
        & p:first-child
            margin: 0
            width: 30%
            text-align: left
        & p:nth-child(2)
            margin: 0
            margin-left: 2%
            width: 40%
        & p:last-child
            margin: 0
            width: 26%
            padding-top: 4%
    @media(max-width: $mobile)
        & p:first-child
            width: 100%
            text-align: center
        & p:nth-child(2)
            width: 100%
            text-align: center
        & p:last-child
            width: 100%
            text-align: center
    .social-box1
        margin: 0 10px
        width: 35px
        height: 35px
        background: url(/img/sprite-item.png) no-repeat 0% 0%
        &:hover
            background-color: darken($blue, 10%)
            border-radius: 6px
    .social-box2
        @extend .social-box1
        background: url(/img/sprite-item.png) no-repeat 33.33333333% 0%
    .social-box3
        @extend .social-box1
        background: url(/img/sprite-item.png) no-repeat 66.33333333% 0%
    .social-box4
        @extend .social-box1
        background: url(/img/sprite-item.png) no-repeat 100% 0%
