@import 'vars'
@import 'normalize'
@import 'responsive_grid'
@import 'common'

// шапка сайта
.logo
    padding: 27px 10px

.search
    float: right
    text-transform: uppercase
    position: relative
    span
        margin-left: 7px
        a
            display: inline-block
            margin: 15px 2px
    input[type=image]
        display: inline-block
        position: absolute
        top: 12px
        left: 105px
    input[type=text]
        width: 94px
        border: none
        margin-right: 65px
// шапка сайта
