@import "vars_menu"
@import "hamburgers"
.nav
    padding-right: 0px
    padding-left: 0px
.hamburger
    display: none
    @media screen and ( max-width: 767px)
        display: block
        left: 80%
.mobilemenu
    display: block
    position: relative
    text-align: center
    z-index: 1
    +lineShw
.box-menu
    background: $baseColorMenu
    min-height: $heightMenu
    width: 100%
    padding: 0
    @media screen and ( max-width: 767px)
        background: $white
        border-bottom: 1px solid grey
    .menu
        margin-top: 2px
        margin-bottom: 0px
        position: relative
        border-bottom: 4px solid $grey
        +lineShw
        text-align: $posMenu
        @media screen and ( max-width: 767px)
            position: relative
            display: none
    ul
        li
            display: inline-block
            a
                font-size: $headers
                display: block
                width: $widthMenu
                line-height: $heightMenu; // выравнивание по центру пунктов
                color: $colorMenu
                &:hover
                    text-decoration: none
                    background: $colorHoverMenu
    @media screen and ( max-width: 767px)
        display: block
        ul
            li
                width: 100%
                a
                    width: 100%
                    color: #000
    .submenu
        position: relative
        z-index: 1
        &:hover > ul
            display: block
        ul
            position: absolute
            top: $heightMenu; // прилипание подменю к основному
            left: -40px
            display: none
            @media screen and ( max-width: 767px)
                position: relative
                top: 0
            > li
                &::after
                    position: absolute
                    content: ""
                    left: 40%
                    top: -13%
                    border: 8px solid transparent
                    border-bottom: 8px solid $white
            li
                display: block
                a
                    width: 180px
                    text-align: left
                    padding: 10px
                    line-height: 20px
                    color: $colorTextSubMenu
                    background: $colorBcgSubMenu
                    text-transform: none
                    &:hover
                        color: $colorHoverTextSubMenu
                        background: $colorHoverSubMenu
                    @media screen and ( max-width: 767px)
                        width: 100%
