@import "vars_menu"
@import "hamburgers"

#primary-menu
    margin: 0
    border: 4px dolid $grey
.nav
    padding-right: 0px
    padding-left: 0px
.hamburger
    display: none
    // @media screen and ( max-width: $mobile)
    //     display: block
    //     left: 78%
    //     margin: 5% 0%
.mobilemenu
    display: block
    position: relative
    text-align: center
    z-index: 1
    +lineShw
.main-navigation
    background: $baseColorMenu
    min-height: $heightMenu
    width: 100%
    padding: 0
    // @media screen and ( max-width: $mobile)
    //     background: $white
    //     border-bottom: 1px solid grey
    .menu
        margin-top: 2px
        margin-bottom: 0px
        position: relative
        border-bottom: 4px solid $grey
        z-index: 1
        +lineShw
        text-align: $posMenu
        // @media screen and ( max-width: $mobile)
        //     position: relative
        //     display: none
    ul
        li
            display: inline-block
            a
                font-size: $headers
                display: block
                width: $widthMenu
                line-height: $heightMenu
                color: $colorMenu
                &:hover
                    text-decoration: none
                    background: $colorHoverMenu
    // @media screen and ( max-width: $mobile)
    //     display: block
    //     ul
    //         li
    //             width: 100%
    //             a
    //                 width: 100%
    //                 color: #000
    .menu-item
        position: relative
        z-index: 1
        &::after
            position: absolute
            display: none
            content: ""
            left: 35%
            bottom: 0
            border: 8px solid transparent
            border-bottom: 8px solid $white
            // @media screen and ( max-width: $mobile)
            //     display: none
        &:hover > ul
            display: block
        &:hover::after
            display: block
        ul
            position: absolute
            left: -40px
            display: none
            height: auto
            // @media screen and ( max-width: $mobile)
            //     position: relative
            //     top: 0
            li
                display: block
                a
                    width: 220px
                    text-align: left
                    padding: 15px
                    line-height: 20px
                    color: $colorTextSubMenu
                    background: $colorBcgSubMenu
                    text-transform: none
                    &:hover
                        color: $colorHoverTextSubMenu
                        background: $colorHoverSubMenu
                    // @media screen and ( max-width: $mobile)
                    //     width: 100%
