// файл переменных
//цвета
$blue: #0e364e;
$white: #fff;
$black: #000;
$grey: #b2b2b2;


$baseColor: #7d3d29; // заменить blue на него
$HeaderBcgColor: #f6ecd3;
$FooterBcgColor: #f6ecd3;

// типографика size
$base: 14px;
$headers: 1.3em;
$baselh: 20px;

$colorT: #7f7f7f;
$colorH2: #7d3d29;
$colorH3: #7d3d29;

// переменные меню
// переменные для меню
$backgroundMenu: #0e364e; //оновной фон
$colorTextMenu: #fff;
$colorHoverTextMenu: #000;
$backgroundHoverMenu: #fff;

$backgroundSubMenu: #fff;
$borderSubMenu: #0e364e;
$colorHoverTextSubMenu: #fff;
$backgroundHoverSubMenu: #0e364e;

$triangle: #0e364e;

$mobileBackground: #fff;
$mobileColorText: #000;
$mobileHoverMenuBackground: #fafafa;
$mobileHoverMenuText: red;

$heightMenu: 40px;
$widthSubMenu: 200px;
// переменные меню

// точки излома
$nout: 992px;
$tab: 767px;
$mobile: 639px;
$mini-mobile: 420px;
