
// размеры и позиционирование
$heightMenu: 40px; // размер меню
$posMenu: center; // позиция основного меню
$widthMenu: 105px; // ширина основного меню
$widthSubMenu: 160px; // ширина подменю



// цвета меню
$baseColorMenu: #0e364e;
$colorMenu: white; // цвет текста
$colorHoverMenu: lighten($baseColorMenu,10%); // при наведении цвет основного меню
$colorBcgSubMenu: #fff; // бакграунд подменю
$colorTextSubMenu: #000; // цвет текста меню
$colorHoverSubMenu: lighten($baseColorMenu,10%); // цвет бакграунда при наведении
$colorHoverTextSubMenu: #fff; // цвет текста при наведении
